In [ ]:
import pandas as pd
import numpy as np

*1-Import data:*

In [ ]:
data = pd.read_csv("/content/drive/MyDrive/Pandas/datatoclean.csv")

In [ ]:
data.dtypes

Duration      int64
Date         object
Pulse         int64
Maxpulse      int64
Calories    float64
dtype: object

In [ ]:
data.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

*2-statistical data*

In [ ]:
data.describe()

         Duration       Pulse    Maxpulse    Calories
count   32.000000   32.000000   32.000000   30.000000
mean    68.437500  103.500000  128.500000  304.680000
std     70.039591    7.832933   12.998759   66.003779
min     30.000000   90.000000  101.000000  195.100000
25%     60.000000  100.000000  120.000000  250.700000
50%     60.000000  102.500000  127.500000  291.200000
75%     60.000000  106.500000  132.250000  343.975000
max    450.000000  130.000000  175.000000  479.000000

In [ ]:
data.shape

(32, 5)

In [ ]:
data.groupby(by=['Duration']).size()

Duration
30      1
45      6
60     24
450     1
dtype: int64

In [ ]:
data.isna().sum()

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    2
dtype: int64

In [ ]:
data_2 = data.dropna(axis = 0, how = 'any')
data_2.isna().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [ ]:
data_2 =  data.fillna(data.mean())
data_2.isna().sum()

<ipython-input-10-9df57cdab734>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data_2 =  data.fillna(data.mean())

Duration    0
Date        1
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [ ]:
data.mean()

<ipython-input-11-abc01cf6c622>:1: FutureWarning: Dropping of nuisance columns in DataFrame reductions (with 'numeric_only=None') is deprecated; in a future version this will raise TypeError.  Select only valid columns before calling the reduction.
  data.mean()

Duration     68.4375
Pulse       103.5000
Maxpulse    128.5000
Calories    304.6800
dtype: float64

In [ ]:
data_2 =  data.fillna(0)
data_2.isna().sum()

Duration    0
Date        0
Pulse       0
Maxpulse    0
Calories    0
dtype: int64

In [ ]:
data.nunique()

Duration     4
Date        30
Pulse       15
Maxpulse    24
Calories    26
dtype: int64

In [ ]:
data.head()

   Duration          Date  Pulse  Maxpulse  Calories
0        60  '2020/12/01'    110       130     409.1
1        60  '2020/12/02'    117       145     479.0
2        60  '2020/12/03'    103       135     340.0
3        45  '2020/12/04'    109       175     282.4
4        45  '2020/12/05'    117       148     406.0

In [ ]:
resultat = data[(data['Pulse']>100)]

In [ ]:
data2=data.groupby('Duration').mean()
data2

            Pulse    Maxpulse   Calories
Duration
30        109.000  133.000000  195.10000
45        103.000  135.166667  291.88000
60        103.375  126.416667  314.46087
450       104.000  134.000000  253.30000

In [ ]:
df1 = data.filter(items=['Duration','Pulse'])

In [ ]:
df2 = data.filter(items=['Maxpulse',' Calories'])

In [ ]:
data2 = pd.concat([df1, df2], axis=1)

In [ ]:
print("=========df1: ")
print(df1.head(4))
print("=========df2")
print(df2.head(4))
print("========= Concaténation horizontale de df1 et df2")
print(data2.head(4))
print("=========")

=========df1:
   Duration  Pulse
0        60    110
1        60    117
2        60    103
3        45    109
=========df2
   Maxpulse
0       130
1       145
2       135
3       175
========= Concaténation horizontale de df1 et df2
   Duration  Pulse  Maxpulse
0        60    110       130
1        60    117       145
2        60    103       135
3        45    109       175
=========

In [ ]:
from sklearn import preprocessing
import numpy as np

In [ ]:
data2 = data['Pulse']
data2= np.array(data2)
data2

array([110, 117, 103, 109, 117, 102, 110, 104, 109,  98, 103, 100, 100,
       106, 104,  98,  98, 100,  90, 103,  97, 108, 100, 130, 105, 102,
       100,  92, 103, 100, 102,  92])

In [ ]:
X_train = np.array([[ 1., -1.,  2.],
                    [ 2.,  0.,  0.],
                    [ 0.,  1., -1.]])

In [ ]:
scaler = preprocessing.StandardScaler().fit(X_train)

In [ ]:
scaler.mean_

array([1.        , 0.        , 0.33333333])